<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head> 
<body class="<%= classname %>">
  <% include partials/page/header.ejs %>

    <div class="container">
        <h1><%= title %></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Illo natus adipisci hic! Amet rem iste adipisci modi 
            ratione ullam, voluptatum ex laborum esse, culpa illo 
            corporis id, facere dolore ipsa in nam eaque recusandae.
             Laborum iste, velit amet deserunt iure suscipit cumque 
             tenetur unde? Officiis voluptates vitae eveniet nulla 
           odio.</p>
   
        
    </div><!--container-->

 <% include partials/page/footer.ejs %>
 <% include partials/page/jsdefaults.ejs %>  

    

</body>
</html>
